

.cover {
    position: fixed; 
    width: 100vw; 
    height: calc(var(--vh, 100vh) * 100);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: left 50%;
    z-index: -1;
}

.long {
    margin-top:0; 
    padding:0;
    position: absolute; 
    top: calc(var(--vh, 1vh) * 100); 
    transform: translateY(-2%); 
    left: 0;
    width: 100%;
}

#coverhighres {
    background-image: url(./images/Nov-Dec-2021/0.8/cover highres.webp);  
}

#coverlowres {
    background-image: url(./images/Nov-Dec-2021/0.8/cover lowres.webp); 
}